.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 80px;
    padding: 5px 30px;
    align-items: center;
    background: var(--bg-input);
    border-bottom: 2px solid var(--border);
}

.logo {
    position: relative;
    font-size: 30px;
    z-index: 2;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin-left: 30px;
}

.link > a {
    font-size: 20px;
    transition: all 0.3s;
    text-shadow: 0 0 2px var(--border-hover);
}

.active > a {
    font-size: 30px;
    text-shadow: 0 0 5px var(--border-hover),
                0 0 10px var(--border-hover),
                0 0 15px var(--border-hover),
                0 0 20px var(--border-hover)
} 

.user {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 20px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr auto;
}

.menu_button {
    display: none;
    position: relative;
    width: 30px;
    height: 3px;
    background: var(--border);
    z-index: 2;
    cursor: pointer;
}
.menu_button::after, .menu_button::before  {
    position: absolute;
    content: '';
    background: var(--border);
    width: 30px;
    height: 3px;
    top: 10px;
    transition: all 0.6s;
}
.menu_button::before {
    position: absolute;
    content: '';
    background: var(--border);
    width: 30px;
    height: 3px;
    top: -10px;
    transition: all 0.6s;
}

@media screen and (max-width: 991px) {
    .nav {
        grid-template-columns: 1fr auto;
    }
    .menu {
        height: 100vh;
        width: 100%;
        top: 0; 
        left: 0;
        transform: translateX(-100%);
        z-index: 1;
        opacity: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        align-items: center;
        justify-content: center;
        position: fixed;
        background: var(--bg-input);
        transition: all 0.6s;
    }
    .user { 
        justify-self: center;
    }
    .menu.active {
        transform: translateX(0);
        opacity: 1;
    }
    .menu_button {
        display: block;
    }
    .menu_button.active {
        height: 0;
    }
    .menu_button.active::after {
        top: 50%;
        transform: rotate(45deg);
    }
    .menu_button.active::before {
        top: -50%;
        transform: rotate(-45deg);
    }
    .links {
        flex-direction: column;
    }
    .link {
        margin-top: 30px;
    }
    .link > a {
        font-size: 30px;
    }
}

@media screen and (max-width: 325px) {
    .user {
        
    }
}