.nav {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 30px;
    align-items: center;
    background: var(--bg-input);
    border-bottom: 2px solid var(--border);
}

.logo {
    font-size: 30px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    margin-left: 30px;
}

.link > a {
    font-size: 20px;
}

.user {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 20px;
}