@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main);
    outline: none;
    border: none;
}

body {
    background: var(--bg-body);
    min-height: 100vh;
}

button {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    /* --main: #9E250E; */
    --bg-body: #869e8b;
    --main: #a1ffb5;
    --border: #465627;
    --border-hover: #a0b37a;
    --background: #6a921a; 
    --bg-input: #657769;
    --warning: #ca9d4a;
    --warning-text: #443d2d;
    --warning-border: #897246;
    --warning-border-hover: #b69b68;
    --danger: #d24545;
    --danger-text: #611212;
    --danger-border: #ab2626;
    --danger-border-hover: #da2727;
}