@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main);
    outline: none;
    border: none;
}

body {
    background: rgb(134, 158, 139);
    min-height: 100vh;
}

button {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    /* --main: #9E250E; */
    --main: #a1ffb5;
    --border: #465627;
    --border-hover: #a0b37a;
    --background: #6a921a; 
    --blue: #407AEB; 
    --dark-blue: #4A669E;
    --bg-input: #657769;
}