.input {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    color: var(--main);
    background: var(--bg-input);
    transition: all 0.3s;
    outline: none;
    border: 2px solid var(--border);
    box-shadow: 0 0 10px 2px var(--border-hover);
    width: 100%;
}

.input::placeholder {
    color: var(--main);
}

.input:hover, .input:active, .input:focus {
    border: 2px solid var(--border-hover);
    box-shadow: 0 0 10px 5px  var(--border);
}