.posts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
}

.add {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border);
    padding: 20px 0;
    margin-bottom: 20px;
}

.post {
    width: 600px;
    margin: 20px 0;
    padding: 20px;
    background: var(--bg-input);
    border: 2px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--border-hover);
}

.heading {
    align-self: center;
} 