.block {
    max-width: 600px;
    margin: 20px auto;
}

.post {
    
    padding: 20px;
    background: var(--bg-input);
    border: 2px solid var(--border);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px var(--border-hover);
}

.heading {
    align-self: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button {
    margin-left: 20px;
}