.category-enter-active {
  animation: fade-in-category ease-in 0.3s;
}

.category-exit-active {
  animation: fade-out-category ease-in 0.3s;
}

.item-enter-active {
  animation: fade-in-item ease-in 0.3s;
}

.item-exit-active {
  animation: fade-out-item ease-in 0.3s;
}


@keyframes fade-in-item {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes fade-out-item  {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
} 


@keyframes fade-in-category  {
  0% {
      opacity: 0;
      transform: translate(-100%);
  }
  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes fade-out-category  {
  0% {
      opacity: 1;
      transform: translate(0);
  }
  100% {
      opacity: 0;
      transform: translate(-100%);
  }
} 