.delete-enter {
  opacity: 0;
}
.delete-active {
  opacity: 1;
  transition: opacity 300ms;
}
.delete-exit {
  opacity: 1;
}
.delete-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


.item-enter-active {
  animation: fade-in ease-in 0.3s;
}

.item-exit-active {
  animation: fade-out ease-in 0.3s;
}


@keyframes fade-in {
  0% {
      opacity: 0;
      transform: scale(0);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0);
  }
} 