.todos {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.category {
    width: 250px;
}

.category > p {
    margin-bottom: 10px;
}

.button {
    width: 100%;
}

.categoryButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ededff;
    background: #454586;
    border: 2px solid #29295b;
    box-shadow: 0 0 10px 2px #454586;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}
