.todos {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.category {
    width: 250px;
}

.category > p {
    margin-bottom: 10px;
}

.button {
    width: 100%;
}

.categoryButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ededff;
    background: #454586;
    border: 2px solid #29295b;
    box-shadow: 0 0 10px 2px #454586;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.activeButton {
    margin: 20px 0;
    color: rgb(226, 226, 137);
    background: rgb(99, 99, 46);
    border: 2px solid rgb(170, 170, 95);
    box-shadow: 0 0 10px 2px rgb(118, 118, 73);
}   

.projects {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 20px;
    transition: all 0.3s;
}

.project {
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-rows: 1fr repeat(2, auto);
    gap: 10px;
    background: var(--bg-input);
    padding: 10px;
    border: 2px solid var(--bg-input);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.activeProject {
    /* order: -1; */
    color: rgb(226, 226, 137);
    background: rgb(99, 99, 46);
    border: 2px solid rgb(170, 170, 95);
    box-shadow: 0 0 10px 2px rgb(118, 118, 73);
}

.tasks {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
    gap: 10px;
    transition: all 0.3s;
}

.task {
    position: relative;
    display: grid;
    grid-template-rows: 1fr repeat(2, auto);
    gap: 10px;
    background: rgb(70, 99, 130);
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}

.task > p {
    margin: 0;
}

.taskButton {
    max-width: 200px;
    background: rgb(70, 99, 130);
}

.x {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.x::before {
    position: absolute;
    content: '';
    top: 15px;
    width: 30px;
    height: 3px;
    background: var(--danger-border);
    transform: rotate(-45deg);
}

.x::after {
    position: absolute;
    content: '';
    width: 30px;
    top: 15px;
    height: 3px;
    background: var(--danger-border);
    transform: rotate(45deg);
}

.x:hover::before, .x:hover::after {
    box-shadow: 0px 0px 5px 2px var(--danger-border-hover);
}

