.button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    color: var(--main);
    background: var(--bg-input);
    transition: all 0.3s;
    outline: none;
    border: 2px solid var(--border);
    box-shadow: 0 0 10px 2px var(--border-hover);
}

.button:hover {
    border: 2px solid var(--border-hover);
    box-shadow: 0 0 10px 5px  var(--border);
}

.warning {
    background: var(--warning);
    border: 2px solid var(--warning-border);
    box-shadow: 0 0 10px 7px var(--warning-border-hover);
}
.warning > p {
    color: var(--warning-text);
    text-shadow: 0 0 3px var(--warning-border-hover);
}

.warning:hover {
    border: 2px solid var(--warning-border-hover);
    box-shadow: 0 0 10px 10px var(--warning-border);
}

.danger {
    color: var(--danger-text);
    background: var(--danger);
    border: 2px solid var(--danger-border);
    box-shadow: 0 0 10px 2px var(--danger-border-hover);
}

.danger > p {
    color: var(--danger-text);
    text-shadow: 0 0 3px var(--danger-border-hover);
}

.danger:hover {
    border: 2px solid var(--danger-border-hover);
    box-shadow: 0 0 10px 5px var(--danger-border);
}