.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 400vh;
    width: 100%;
    background: var(--bg-body);
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
}

.block:nth-child(2) {
    background: var(--bg-input);
}

.block:nth-child(3) {
    background: var(--border);
}

.block:nth-child(4) {
    background: var(--border-hover);
}

.heading {
    font-size: 50px;
    position: absolute;
    opacity: 0;
    animation: heading-animation 2s linear 0.6s 1 forwards;
}

.scroll {
    position: absolute;
    opacity: 0;
    animation: scroll-animation  2s linear 0.8s 1 forwards,
                swing 2s linear 2.8s infinite;
}

.scroll > svg {
    height: 40px;
    width: 40px;
}

.text {
    font-size: 40px;
    position: absolute;
    height: 50px;
    width: fit-content;
}

.button {
    position: absolute;
    bottom: 10%;
}


@keyframes swing {
    0% {
        top: 35%;
    }
    50% {
        top: 35.5%;
    }
    100% {
        top: 35%;
    }
}

@keyframes scroll-animation {
    0% {
        opacity: 0;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@keyframes heading-animation {
    0% {
        opacity: 0;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    100% {
        opacity: 1;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}